repo-deploy-releases="w2-week2-maven-dev-virtual"
repo-deploy-snapshots="w2-week2-maven-dev-virtual"
repo-resolve-releases="w2-week2-maven-dev-virtual"
repo-resolve-snapshots="w2-week2-maven-dev-virtual"
project="demo-1"
repository="WebGoat"
github_repository = "WebGoat"
github_token      = 
github_owner      = "Rodi26"
OIDC_PROVIDER_NAME = "rodolphef-github-webgoat"
OIDC_AUDIENCE = "rodolphef-audience-webgoat"
OIDC_IDENTITY_MAPPING = "rodolphef-mapping-webgoat"
jfrog_url="https://rodolphefplus.jfrog.io"
DOCKER_DEV_REPO = "soleng-oci-dev-virtual"
solenglatest_repo-deploy-releases="rodolphef-maven-dev-virtual"
solenglatest_repo-deploy-snapshots="rodolphef-maven-dev-virtual"
solenglatest_repo-resolve-releases="rodolphef-maven-dev-virtual"
solenglatest_repo-resolve-snapshots="rodolphef-aven-dev-virtual"
solenglatest_project="rodolphef"
solenglatest_OIDC_PROVIDER_NAME="rodolphef-github-webgoat"
solenglatest_OIDC_AUDIENCE="rodolphef-audience-webgoat"
solenglatest_OIDC_IDENTITY_MAPPING="rodolphef-mapping-webgoat"
solenglatest_DOCKER_DEV_REPO="rodolphef-oci-dev-virtual"
myjfrog_repo-deploy-releases="w2-week2-maven-dev-virtual"
myjfrog_repo-deploy-snapshots="w2-week2-maven-dev-virtual"
myjfrog_repo-resolve-releases="w2-week2-maven-dev-virtual"
myjfrog_repo-resolve-snapshots="w2-week2-maven-dev-virtual"
myjfrog_project="demo-1"
myjfrog_OIDC_PROVIDER_NAME="rodolphef-github-webgoat"
myjfrog_OIDC_AUDIENCE="rodolphef-audience-webgoat"
myjfrog_OIDC_IDENTITY_MAPPING="rodolphef-mapping-webgoat"
myjfrog_DOCKER_DEV_REPO="soleng-oci-dev-virtual"
artifactory_repo-deploy-releases=""
artifactory_repo-deploy-snapshots=""
artifactory_repo-resolve-releases=""
artifactory_repo-resolve-snapshots=""
artifactory_project=""
artifactory_OIDC_PROVIDER_NAME=""
artifactory_OIDC_AUDIENCE=""
artifactory_OIDC_IDENTITY_MAPPING=""
artifactory_DOCKER_DEV_REPO=""