repo-deploy-releases="w2-week2-maven-dev-virtual"
repo-deploy-snapshots="w2-week2-maven-dev-virtual"
repo-resolve-releases="w2-week2-maven-dev-virtual"
repo-resolve-snapshots="w2-week2-maven-dev-virtual"
project="demo-1"
repository="WebGoat"
github_repository = "WebGoat"
github_token      = 
github_owner      = "Rodi26"
OIDC_PROVIDER_NAME = "rodolphef-github-webgoat"
OIDC_AUDIENCE = "rodolphef-audience-webgoat"
OIDC_IDENTITY_MAPPING = "rodolphef-mapping-webgoat"
jfrog_url="https://rodolphefplus.jfrog.io"
DOCKER_DEV_REPO = "soleng-oci-dev-virtual"